*
!.spacemacs
!.gitignore
!README.md
!LICENSE
!Makefile
!/.emacs.d/
!/.emacs.d/lisp/
!/.emacs.d/lisp/*
!.emacs.d/init.el
!.emacs.d/bootstrap.el
!.emacs.d/packages.el
!/.emacs.d/eabrecipes/
!/.emacs.d/eabrecipes/cache
!/.emacs.d/eabrecipes/*
!/.emacs.d/eabrecipes/cache/*
